<div class="container app">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/users"
            [routerLinkActiveOptions]="{ exact: true }"
            >Users</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="row form">
    <div class="col-xs-12 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
